.bg {
  background-color: #344a72;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
}

.login-box {
  width: 360px;
  height: 300px;
  margin: auto;
  border-radius: 3px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

h4 {
  text-align: center;
}

form {
  width: 300px;
  margin-left: 20px;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}
input[type="submit"] {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #49c1a2;
  color: white;
  font-size: 18px;
}
p {
  text-align: center;

  font-size: 15px;
}
.para-2 {
  text-align: center;
  color: white;
  font-size: 15px;

}
.para-2 a {
  color: #49c1a2;
}
